.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: auto;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 11px 24px;
  width: 200px; /* Add this line */
  height: 44px; /* Add this line */
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}